.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 300px;
  padding: 0 5px;
  background-color: antiquewhite;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.me {
  background-color: aqua;
  width: fit-content;
  align-self: flex-end;
  margin: 2px 5px;
  overflow-wrap: anywhere;
}

.other {
  background-color: darkkhaki;
  width: fit-content;
  align-self: flex-start;
  margin: 2px 5px;
}

form {
  width: 100vw;
  display: flex;
}

#input-message {
  flex-grow: 1;
  font-size: 1.2rem;
}

#login {
  padding: 0 10%;
  justify-content: center;
}

label {
  padding-right: 5px;
}

#login > #input-name {
  flex-grow: unset;
  font-size: 1.2rem;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
